# Elasticsearch configuration
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=cognito

# MongoDB configuration
MONGODB_CONNECTION_STRING=mongodb://localhost:27017/cognito

# Gemini configuration
GEMINI_API_KEY=<your_api_key>
