# Elasticsearch configuration
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=data

# MongoDB configuration
MONGODB_CONNECTION_STRING=<your_connection_string>

# Gemini configuration
GEMINI_API_KEY=<your_api_key>
