# Elasticsearch configuration
ELASTICSEARCH_URL=http://localhost:9200
ELASTICSEARCH_INDEX=cognito

# JWT configuration
JWT_SECRET_KEY=1234567890
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# MongoDB configuration
MONGODB_CONNECTION_STRING=mongodb://localhost:27017/cognito

# Gemini configuration
GEMINI_API_KEY=<your_api_key>
